block head
    title Taiga  Your agile, free, and open source project management tool

block content
    div.wrapper.roles(tg-github-webhooks, ng-controller="GithubController as ctrl",
                            ng-init="section='admin'")
        sidebar.menu-secondary.sidebar(tg-admin-navigation="Webhooks")
            include ../admin-menu
        sidebar.menu-tertiary.sidebar(tg-admin-navigation="third-parties-webhooks")
            include ../admin-submenu-third-parties

        section.main.admin-common.admin-webhooks
            include ../../components/mainTitle

            p.admin-subtitle Webhooks notify external services about events in Taiga, like comments, user stories....
            div.webhooks-options
                a.button.button-green.add-webhook(href="",title="Add a New Webhook") Add Webhook

            section.webhooks-table.basic-table
                div.table-header
                    div.row
                        div.webhook-service Name
                        div.webhook-url URL
                        div.webhook-options
                div.table-body
                    form.row
                        div.webhook-service
                            input(type="text", name="service-name", placeholder="Type the service name")
                        div.webhook-url
                            div.webhook-url-inputs
                                input(type="text", name="service-sexret-key", placeholder="Type the service secret key")
                                input(type="text", name="service-payload-url", placeholder="Type the service payload url")
                        div.webhook-options
                            a.icon.icon-floppy(href="", title="Save Webhook")
                            a.icon.icon-delete(href="", title="Cancel Webhook")
                    div.single-webhook-wrapper
                        div.row
                            div.webhook-service
                                span Github
                            div.webhook-url
                                span http://github.kjrw3543m/nwdlkw4m535/ffm
                                a(href="", title="Test history") (See test history)
                            div.webhook-options
                                div.webhook-options-wrapper
                                    a.icon.icon-check-square(href="", title="Test Webhook")
                                    a.icon.icon-edit(href="", title="Edit Webhook")
                                    a.icon.icon-delete(href="", title="Delete Webhook")
                    div.single-webhook-wrapper
                        div.row
                            div.webhook-service
                                span Slack
                            div.webhook-url
                                span http://slack.kjrw3543m/nwdlkw4m535/ffm
                                a(href="", title="Test history") (See test history)
                            div.webhook-options
                                div.webhook-options-wrapper
                                    a.icon.icon-check-square(href="", title="Test Webhook")
                                    a.icon.icon-edit(href="", title="Edit Webhook")
                                    a.icon.icon-delete(href="", title="Delete Webhook")

                        div.webhooks-history
                            div.history-single-wrapper
                                div.history-single
                                    div
                                        span.history-response-icon.history-success
                                        span.history-date Just now
                                    span.icon.icon-arrow-bottom
                            div.history-single-wrapper
                                div.history-single.history-single-open
                                    div
                                        span.history-response-icon.history-error
                                        span.history-date Just now
                                    span.icon.icon-arrow-bottom
                                div.history-single-response
                                    div.history-single-request-header
                                        span Request
                                        a(href="", title="Resend request")
                                            span.icon.icon-reload
                                            span Resend request
                                    div.history-single-request-body
                                        div.response-container
                                            span.response-title Headers
                                            textarea(name="headers")
                                        div.response-container
                                            span.response-title Playload
                                            textarea(name="Playload")
                                    div.history-single-response-header
                                        span Response
                                    div.history-single-response-body
                                        div.response-container
                                            textarea(name="headers")

            a.help-button(href="https://taiga.io/support/github-integration/", target="_blank")
                span.icon.icon-help
                span Do you need help? Check out our support page!
